    <section id="counts" class="counts">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="{{ seller_qty.seller_qty }}" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Comercios</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="{{ client_qty.client_qty }}" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Personas beneficiadas</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="{{ order_qty.order_qty }}" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Alimentos Salvados</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="{{ products_qty.product_count }}" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Alimentos por Salvar</p>
                </div>

            </div>

        </div>
    </section>