<section id="about" class="about">
    <div class="container">

        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <h2>Somos los agentes del cambio y la evolución</h2>
                <h3 class="fst-italic">"Reducir el desperdicio de alimentos es una de las acciones más importantes que
                    podemos tomar para combatir el calentamiento global"</h3>-Chad Frischmann, experto en cambio
                climático.
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                <p>
                    Somos un equipo de personas dedicadas al desarrollo de Software, que convivimos con los mismos
                    inconvenientes que todo el mundo, siendo que vivimos en el mismo mundo que todos.
                    Hay un GRAN problema que nos implica a TODOS, el cual es el DESECHO de ALIMENTOS que se genera todos
                    los dias. Pensamos que era hora de tomar acción de éste lado del mundo, también.
                    Nuestra MISIÓN es reducir al mínimo la comida desechada, y nuestra VISIÓN es lograrlo a traves de un
                    trabajo de colaboracón
                    global.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Reducir al mínimo el desecho de alimentos de los comercios.
                    </li>
                    <li><i class="ri-check-double-line"></i> Brindar estos alimentos a la población a un costo
                        fuertemente menor.
                    </li>
                    <li><i class="ri-check-double-line"></i> Colaborar con el medio ambiente y generar un mejor futuro
                        para generaciones próximas.
                    </li>
                </ul>
                <a href="#" class="btn-get-started ">Caja de Información</a>
            </div>
        </div>

    </div>
</section>