{% extends 'layouts/admin-layout.html' %}

<!-- ======= Header ======= -->
{% block header %}
{% include 'includes/admin/header.html' %}
{% endblock %}

{% block main %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Crear nuevo producto</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                <li class="breadcrumb-item">Ventas</li>
                <li class="breadcrumb-item active">Nuevo producto</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row align-items-top">

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Detalles</h5>

                        <!-- Multi Columns Form -->
                        <form class="row g-3" enctype="multipart/form-data" method="post" action="">
                            <input type="hidden" id="user_id" name="user_id" value="{{ session['id'] }}">
                            <input type="hidden" id="status" name="status" value="1">

                            <div class="col-md-12">
                                <label for="title" class="form-label">Título</label>
                                <input onload="slugurl(this.value)" onkeyup="slugurl(this.value)" type="text"
                                       class="form-control" id="title"
                                       name="title" required>
                            </div>
                            <div class="col-md-6">
                                <label for="slug" class="form-label">Slug</label>
                                <input type="text" class="form-control" id="slug" name="slug" readonly required>
                            </div>
                            <div class="col-md-3">
                                <label for="expiring_date" class="form-label">Fecha de vencimiento</label>
                                <input type="date" class="form-control" id="expiring_date" name="expiring_date"
                                       required>
                            </div>
                            <div class="col-md-3">
                                <label for="category_id" class="form-label">Categoría</label>
                                <select id="category_id" name="category_id" class="form-select" required>
                                    <option selected>Elegir...</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <!-- TinyMCE Editor -->
                            <div class="col-md-12">
                                <label for="description" class="form-label">Descripción</label>
                                <textarea id="description" name="description" class="form-control" required>

                                </textarea><!-- End TinyMCE Editor -->
                            </div>
                            <div class="col-md-2">
                                <label for="price" class="form-label">Precio $UYU</label>
                                <input type="number" class="form-control" id="price" name="price" required>
                            </div>
                            <div class="col-md-2">
                                <label for="available_quant" class="form-label">Cantidad disponible</label>
                                <input type="number" class="form-control" id="available_quant" name="available_quant"
                                       required>
                            </div>
                            <div class="col-md-4">
                                <label for="pickup_time" class="form-label">Rango horario de recolección</label>
                                <select id="pickup_time" name="pickup_time" class="form-select" required>
                                    <option selected>Elegir...</option>
                                    <option value="08:00 - 12:00">08:00 - 12:00</option>
                                    <option value="12:00 - 16:00">12:00 - 16:00</option>
                                    <option value="16:00 - 21:00">16:00 - 21:00</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="image_url" class="form-label">Imagen/es</label>
                                 <input type="text" class="form-control" id="image_url" name="image_url"
                                       required>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                    <label class="form-check-label" for="gridCheck">
                                        Check me out
                                    </label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Crear producto</button>
                                <button type="reset" class="btn btn-secondary">Limpiar campos</button>
                            </div>
                        </form><!-- End Multi Columns Form -->

                    </div>
                </div>


            </div><!-- End Special title treatmen -->

        </div>

        </div>
    </section>
</main><!-- End #main -->
<script type="text/javascript">
	function slugurl(slug)
	{
		// Reemplaza los carácteres especiales | simbolos con un espacio
        slug = slug.replace(/[`~!@#$%^&*()_\-+=\[\]{};:'"\\|\/,.<>?\s]/g, ' ').toLowerCase();

        // Corta los espacios al inicio y al final del sluging
        slug = slug.replace(/^\s+|\s+$/gm,'');

        // Reemplaza el espacio con guión
        slug = slug.replace(/\s+/g, '-');

        // Creo la URL en el campo de texto 'slug'
        var input = document.getElementById('slug');
        input.value = slug;

	}
</script>
{% endblock %}