{% extends 'layouts/admin-layout.html' %}

<!-- ======= Header ======= -->
{% block header %}
{% include 'includes/admin/header.html' %}
{% endblock %}

{% block main %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Editar productor</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
                <li class="breadcrumb-item">Productos</li>
                <li class="breadcrumb-item active">Editar producto</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row align-items-top">

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Detalles</h5>

                        <!-- Multi Columns Form -->
                        <form class="row g-3" enctype="multipart/form-data" method="post" id="editProductForm"
                              action="">
                            <input type="hidden" id="user_id" name="user_id" value="{{ session['id'] }}">
                            <input type="hidden" id="status" name="status" value="1">
                            <input type="hidden" id="id_product" name="product_id" value="{{ product.id }}">

                            <div class="col-md-12">
                                <label for="title" class="form-label">Título</label>
                                <input onload="slugurl(this.value)" onkeyup="slugurl(this.value)" type="text"
                                       class="form-control" id="title"
                                       name="title" value="{{ product.title }}" required>
                            </div>
                            <div class="col-md-6">
                                <label for="slug" class="form-label">Slug</label>
                                <input type="text" class="form-control" id="slug" name="slug" value="{{ product.slug }}"
                                       readonly required>
                            </div>
                            <div class="col-md-3">
                                <label for="expiring_date" class="form-label">Fecha de vencimiento</label>
                                <input type="date" class="form-control" id="expiring_date" name="expiring_date"
                                       value="{{ product.expiring_date }}" required>
                            </div>


                            <!--                            <div class="col-md-3">-->
                            <!--                                <label for="category_id" class="form-label">Categoría</label>-->
                            <!--                                <select id="category_id" name="category_id" class="form-select" value="{{ product.category_id }}"-->
                            <!--                                        required>-->
                            <!--                                    <option selected>Elegir...</option>-->
                            <!--                                    <option value="1">1</option>-->
                            <!--                                </select>-->
                            <!--                            </div>-->


                            <!-- TinyMCE Editor -->
                            <div class="col-md-12">
                                <label for="description" class="form-label">Salva comida en
                                    <strong>{{session['company_name']}}</strong> y podrás disfrutar de:</label>
                                <textarea id="description" name="description" class="form-control"
                                          required maxlength="70">{{ product.description }}</textarea>
                            </div>
                            <div class="col-md-2">
                                <label for="price" class="form-label">Precio $UYU</label>
                                <input type="number" class="form-control" id="price" name="price"
                                       value="{{ product.price }}" required>
                            </div>
                            <div class="col-md-2">
                                <label for="available_quant" class="form-label">Cantidad disponible</label>
                                <input type="number" class="form-control" id="available_quant" name="available_quant"
                                       value="{{ product.available_quant }}" required>
                            </div>


                            <!--                            <div onload="selectop({{ product.pickup_time }})" class="col-md-4">-->
                            <!--                                <label for="pickup_time" class="form-label">Rango horario de recolección</label>-->
                            <!--                                <select id="pickup_time" name="pickup_time" class="form-select" required>-->
                            <!--                                    <option>Elegir...</option>-->
                            <!--                                    <option id="op1" value="08:00 - 12:00">08:00 - 12:00</option>-->
                            <!--                                    <option id="op2" value="12:00 - 16:00">12:00 - 16:00</option>-->
                            <!--                                    <option id="op3" value="16:00 - 21:00">16:00 - 21:00</option>-->
                            <!--                                </select>-->
                            <!--                            </div>-->


                            <div id="alertEdit" style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>

                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                    <label class="form-check-label" for="gridCheck">
                                        Check me out
                                    </label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Editar producto</button>
                                <button type="reset" class="btn btn-secondary">Limpiar campos</button>
                            </div>
                        </form><!-- End Multi Columns Form -->

                    </div>
                </div>


            </div><!-- End Special title treatmen -->

        </div>

        </div>
    </section>
</main><!-- End #main -->
<script type="text/javascript">
	function slugurl(slug)
	{
		// Reemplaza los carácteres especiales | simbolos con un espacio
        slug = slug.replace(/[`~!@#$%^&*()_\-+=\[\]{};:'"\\|\/,.<>?\s]/g, ' ').toLowerCase();

        // Corta los espacios al inicio y al final del sluging
        slug = slug.replace(/^\s+|\s+$/gm,'');

        // Reemplaza el espacio con guión
        slug = slug.replace(/\s+/g, '-');

        // Creo la URL en el campo de texto 'slug'
        var input = document.getElementById('slug');
        input.value = slug;

	}

	function selectop(time)
	{
        var op1 = document.getElementById('op1').innerHTML;
        var op2 = document.getElementById('op2').innerHTML;
        var op3 = document.getElementById('op3').innerHTML;

        if(op1 == time){
            document.getElementById('op1').selectedIndex = 1;
        }else if(op2 == time){
            document.getElementById('op2').selectedIndex = 2;
        }else if(op3 == time){
            document.getElementById('op3').selected = 3;
        }
	}

</script>
{% endblock %}