{% extends 'layouts/admin-layout.html' %}

<!-- ======= Header ======= -->
{% block header %}
{% include 'includes/admin/header.html' %}
{% endblock %}

{% block main %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Mi Perfil</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
                <li class="breadcrumb-item active">Mi Perfil</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        {% if not session['profile_photo_url'] %}
                            <img src="../../../static/storage/users/default_profile.png" alt="Profile" class="rounded-circle">
                        {% else %}
                            <img src="{{ session['profile_photo_url'] }}" alt="Profile" class="rounded-circle">
                        {% endif %}
                        <h2>{{ session['name'] }} {{ session['lastname'] }}</h2>
                        <h3>{{ session['role'] }}</h3>
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                    General
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar
                                    Perfil
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                                    Cambiar contraseña
                                </button>
                            </li>

                        </ul>

                        <!-- CONTENT -->
                        <div class="tab-content pt-2">

                            <!-- GENERAL -->
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">


                                <h5 class="card-title">Detalles de Perfil</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Nombre completo</div>
                                    <div class="col-lg-9 col-md-8">{{ session['name'] }} {{ session['lastname'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Compañía</div>
                                    <div class="col-lg-9 col-md-8">{{ session['company_name'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Pais</div>
                                    <div class="col-lg-9 col-md-8">{{ session['country'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Dirección</div>
                                    <div class="col-lg-9 col-md-8">{{ session['address'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{ session['email'] }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Tipo de usuario</div>
                                    <div class="col-lg-9 col-md-8">
                                        {% if session['role_id'] == 1 %}
                                        Comprador
                                        {% else %}
                                        Vendedor
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                            <!-- PROFILE -->
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagen de
                                            Perfil</label>
                                        <div class="col-md-8 col-lg-9">
                                            {% if not session['profile_photo_url'] %}
                                                <img src="../../../static/storage/users/default_profile.png" id="profileImage"
                                                     alt="Profile">
                                            {% else %}
                                                <img src="{{ session['profile_photo_url'] }}" id="profileImage"
                                                     alt="Profile">
                                            {% endif %}
                                            <div class="pt-2">
                                                <submit class="btn btn-primary btn-sm"
                                                   title="Sube una imagen de Perfil"><i class="bi bi-upload"></i></submit>
                                                <a href="#" class="btn btn-danger btn-sm"
                                                   title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre/s</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="fullName"
                                                   value="{{ session['name'] }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="lastname"
                                               class="col-md-4 col-lg-3 col-form-label">Apellido/s</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="lastname" type="text" class="form-control" id="lastname"
                                                   value="{{ session['lastname'] }}">
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Compañía</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="company" type="text" class="form-control" id="company"
                                                   value="{{ session['company_name'] }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Country" class="col-md-4 col-lg-3 col-form-label">País</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="country" type="text" class="form-control" id="Country"
                                                   value="{{ session['country'] }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Dirección</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="address" type="text" class="form-control" id="Address"
                                                   value="{{ session['address'] }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email"
                                                   value="{{ session['email'] }}">
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <label for="role_id" class="col-md-4 col-lg-3 col-form-label">Tipo de usuario
                                        </label>
                                        <div class="col-md-8 col-lg-9">
                                            <select id="role_id" name="role_id" class="form-control">
                                                <option id="1" value="1">Comprar</option>
                                                <option id="2" value="2">Vender</option>
                                                {% if session['role_id'] == 1 %}
                                                <script>
                                                        document.getElementById('1').selected = true
                                                </script>
                                                {% else %}
                                                <script>
                                                        document.getElementById('2').selected = true
                                                </script>
                                                {% endif %}

                                            </select>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                            <!-- CHANGE PASSWORD -->
                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form>

                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control"
                                                   id="currentPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control"
                                                   id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control"
                                                   id="renewPassword">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}